symbol Knowledge

// Knowledge is defined in relation to individual.
statement 1 := (
  {Knowledge} is information used in human Action
)

// In other words, better knowledge is defined by being more valuable than worse knowledge.
statement 2 := (
  Quality of {Knowledge} is proportional to the Value 
  it results in when subjected to Action.
)
