use Knowledge of './Knowledge.kdl'
use InformationSystem of './InformationSystem.kdl'
use System of './System.kdl'

symbol KnowledgeSystem

// Again, knowledge being information that is used
// in human action
statement 1: = (
  {KnowledgeSystem} is an {InformationSystem} that 
  renders {Knowledge}
)

statement 2: = (
  Quality of a {KnowledgeSystem} is proportional to 
  Quality of {Knowledge} and Quality of {Knowledge} priors
)

