symbol Knowledge

// Knowledge is defined in relation to individual.
statement 1 := (
  {Knowledge} is information used in human Action
)

// i.e., better knowledge is more valuable
statement 2 := (
  Quality of {Knowledge} is proportional to the Value 
  it results in when subjected to Action.
)
