symbol System

// The greater the system's quality, all else being equal,
// the more valuable it is.
statement 1 := (
  Quality of a {System} is proportional to Value it results
  in when subjected to Action
)

