symbol System

// The greater the Quality of a System, all else being equal,
// the greater the value it renders to a human acting through it.
statement 1 := (
  Value is proportional to the Quality of a {System} 
  and Action flowing through it
)

